$icon-font-path: 'fonts/';

@import 'bower_components/font-awesome/scss/_variables.scss';
@import "components/variable";

// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bower_components/font-awesome/scss/font-awesome.scss';
// endbower

@import "components/fonts";
@import "components/base";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



// @media only screen and (min-width:768px){
//   @import "components/tablette";
// }

// @media only screen and (min-width:992px){
//   @import "components/desktop";
// }